.nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  0 30px;
}
.nav ul{
    display: flex;
    align-items: center; 
    list-style: none;
    margin-right: 70px;
}
.nav ul li{
    margin: 20px;
}
.nav input {
    outline: 0;
    border: 0;
    border-bottom: 1px solid black;
    width: 80vw;
}
.delete_nav{
    position: fixed;
    top: 0;
    height: 70px;
    /* margin-top: 20px; */
    margin-bottom: 23px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.356);
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.delete_nav li {
    list-style: none;
    margin-right: 30px;
}
.delete_nav p{
    margin-left: 30px;
    font-weight: 700;
}
.table{
    margin-top: 75px;
}

@media screen and (max-width: 600px) {
    .nav{
        padding: 10px;
    }
    .nav ul li{
        margin: 10px;
    }
    .nav ul{
        padding: 0;
    }
}